@font-face {
    font-family: 'hacen';
    src: url('../fonts/hacen_liner_screen.otf')
}
@font-face {
    font-family: 'GE_Light';
    src: url(../fonts/GE_SS_Two_Light.ttf);
}
@font-face {
    font-family: 'GE_Bold';
    src: url(../fonts/GE_SS_Two_Bold.ttf);
}
* {
    box-sizing: border-box;
}

body {
    background:url(../images/main-bg.png);
    max-width: 990px;
    margin: 0 auto;
    font-family: 'hacen',Helvetica, sans-serif;
    direction: rtl;
    color: white;
}

.fa-youtube-square:hover {
    color: #F70019;
}

.header {
    text-align: center;
    vertical-align: middle;
    font-family: 'GE_Bold';
    position: relative;
}

.first-header {
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #DB5023;
}

.first-header h3 {
    margin: 0;
}

.first-header img {
    max-width: 100%;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
}

.header .header-icons {
    padding: 0 15px;
    background-color: #db5123da;
    display: inline-block;
    border-radius: 0 10px 10px 0;
    position: fixed;
    top: 45%;
    left: 0;
}

.header a {
    text-decoration: none;
    color: white;
    display: block;
    margin: 10px 5px;
}



.header .main-nav {
    background-color: #554F43;
    font-family: 'hacen';
}

.main-nav ul {
    list-style: none;
    margin: 10px auto;
    vertical-align: baseline;
    outline: none;
    text-align: center;
    font-size: 1rem;
}

.main-nav li {
    display: inline-block;
    margin: 0 5px;
}

.main-nav a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 10px;
    text-align: right;
}

.main-nav a:active,
.main-nav a:hover {
    background-color: #DB7C2A;
}

.active {
    background-color: #DB7C2A;
}



main {
    background-color: #F1E7D5;
    height: 1000px;
}


/* Slideshow container */

.slideshow-container {
    max-width: 50%;
    position: relative;
    margin: 5px auto;
  }

  /* Hide the images by default */
  .mySlides img {
      /*display: none;*/
      margin-top: 5px;
      max-width: 100%;
      border-radius: 5px;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }

  /* Position the "next button" to the right */
  .next {
    left: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* Caption text */

  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    max-width: 100%;
    text-align: center;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
